.jumbotron{
  text-align: center;
  background-color:transparent !important;
  font-family: 'Roboto Condensed', sans-serif;
}
.panel-title{
  text-align: center;
  text-decoration: underline;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
body::after {
  content: "";
  background: url("../images/landingpage.jpg");
  background-attachment: scroll;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat-x;
  position: absolute;
  z-index: -1;
}
